{% extends 'parts/main.html' %}

{% block content %}

    <br>

 
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>パーツ在庫</h5>
            </div>
        
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>カテゴリ</th>
                        <th>パーツ名</th>
                        <th>推奨数</th>
                        <th>現在の数</th>
                        <th>消費個数</th>
                    </tr>

                    {% for i in parts %}
                        <tr>
                            <td>{{i.category}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.quantity}}</td>
                            <td>{number}右の消費個数を選択し、送信ボタンを押すとnumberに反映される    </td>
                            <td>
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                <option selected></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                </select>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button">送信</button>
        </div>
    </div>
   

{% endblock %}
